@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');


@font-face {
    font-family: "Montserrat";
    src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url('../fonts/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
.form-control {
    border: 1px solid #b8bbcc;
    border-radius: 0.2rem;
    font-size: 0.85rem;
}

body { font-family: 'Montserrat', sans-serif !important; font-size: 0.85rem !important;}
h1,h2,h3,h4,h5,h6{ font-family: 'Montserrat';}
h6{     font-weight: 500;
    font-size: 14px; }
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1031;  
  /* padding: 48px 0 0; */ /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

table.dataTable { border-collapse:collapse !important; }
.table-bordered thead th, .table-bordered thead td { border-bottom-width: 0px;}
.page-heading{ font-size: 16px;
    font-weight: 500; }
.datepicker td{width: 26px !important;height: 26px !important; }
.col-form-label{ font-size: 0.82rem; font-weight: 500; }

.form-group {  margin-bottom: 0.75rem;}

.frmhdr { text-decoration: underline;  font-size: 14px; }
.frmhdr h5{ font-size: 16px; font-weight: bold;  }
.txt-upp{ text-transform: uppercase; text-decoration: none !important; }

.dydata{       position: fixed;
    top: 9%;
    background-color: #fff;
    border-left: 2px solid #fdfdfd;
    right: 2%;
    padding: 5px 10px;
    z-index: 1032;}
 .dydata small{    color: #2c53c5;  }
 .guidelines {}
 .guidelines ul li { padding-bottom: 9px;font-size: 13px; }

 .data-view{ font-size: 0.88rem; }
 .data-head{  }
  .data-head h5{font-size: 0.88rem;font-weight: 500;}
   .data-view h5{ font-size: 0.88rem; font-weight: 400; }
.m-date{ text-transform: uppercase;
    font-size: 1.1rem;    margin-bottom: 16px;
    font-weight: bold; }
.m-time {     font-size: 1.1rem;
    font-weight: 600;
    color: #1da252; }
.m-title{font-size: 0.82rem;
    color: #475680;
    font-weight: 600;
    border-bottom: 1px solid #d4dcf3;
    padding-bottom: 6px;
    margin-bottom: 12px;}
.tbl-hdr { /*background: #6484e0;*/
    background: #cdd3e4;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 10px 10px;
}
    /*.tbl-hdr  .btn{ float: right; margin-left: 10px; }*/
    .tbl-hdr .form-control {
        border: 0px !important;
        font-size: 0.71rem;
        font-weight: 500;
        color: #0c264e;
    }


    .login-card .card {
        border-radius: 0px;
    }

    .login-card .card-body {
        padding: 35px 25px 120px;
    }

.login-title {
    font-size: 19px;
    padding-bottom: 6px;
    font-weight: 500;
    border-bottom: 2px solid #d6e1f5;
    margin-bottom: 15px;
}

.loginlogo {
    width: inherit;
    padding-top: 19px;
}
@media (min-width: 320px) and (max-width: 767px) {  

#wrapper #content-wrapper { padding-left: 6.2rem !important;   }
    .card { margin-bottom:20px;}
}    


.bg-white {
    background-color:rgba(155, 175, 233, 0.2) !important;
}
#content-wrapper .bg-white{  background-color:#ffffff !important; }
.table {
    margin-bottom: 0px;
    font-size: 0.74rem;
    color: #0c264e;
}
.table thead th {
  border-radius: 0px;
    vertical-align: bottom;
    border-bottom: 1px solid rgba(227, 230, 240, 0.24);
    color: #7b7e9c;
    font-weight: 500;
}
.card {
    border-radius: 3 px;
}
.table tr:last-child td:first-child {
    border-bottom-left-radius: 3px;
}

.table tr:last-child td:last-child {
    border-bottom-right-radius: 3px;
}
.prflname {    color: #040627;
    font-weight: 600;
    font-size: 0.72rem;}
.table th, .table td {
    padding: 0.32rem; /*white-space: nowrap;*/
}

.table ol, ul, dl {
    margin-bottom: 0;
}

.tbl-mdhdr {
    font-weight: bold;
    color: #071838;
    background-color: #b9d1ff;
}


.schdng {
    text-transform: uppercase;
    font-size: 0.84rem;
    margin-bottom: 9px;
    font-weight: bold;
}

.sctime {
    font-size: 0.8rem;
    font-weight: 600;
    color: #2d9c8e;
}

.m-note {
    font-size: 0.82rem;
}

.login-card { /* background-color: #ddd;*/ /* background-image: url('../img/loginbg.png');  */
}

    .login-card .card {
        border-radius: 4px;
    }

    .login-card .card-body {
        padding: 20px 25px 150px;
    }

.login-title {
    font-size: 24px;
    padding-bottom: 6px;
    text-transform: uppercase;
    font-weight: 600;
    border-bottom: 2px solid #d6e1f5;
    margin-bottom: 15px;
}

.loginlogo {
    width: inherit;
    padding-top: 19px;
}

.login-hdr {
    background: #fff;
    padding: 6px 0;
    box-shadow: 0 0.125rem 0.25rem 0 rgba(13, 115, 193, 0.08) !important;
}

.login-card label {
    font-size: 15px;
    font-weight: 500;
}

.wd-tilte {
    font-weight: 600;
    font-size: 18px;
}

.wd-sec {
}

    .wd-sec ul li {
        font-size: 14px;
        font-weight: 500;
        padding-right: 20px;
        color: #515b82;
    }

        .wd-sec ul li:before {
            font-family: "Font Awesome 5 Free";
            content: "\f105";
            color: #c8d1da;
            display: inline-block;
            padding-right: 3px;
            vertical-align: middle;
            font-weight: 900;
        }

.wd-card {
    padding: 30px 25px !important;
}

    .wd-card .row {
        margin-bottom: 16px;
    }

    .wd-card img {
        width: 32px;
    }

.login-card .form-control {
    border: 1px solid #A7D0F3;
    border-radius: 0.2rem;
    font-size: 0.85rem;
    font-weight: 400;
    height: 40px;
}

.login-card .btn {
    padding: 8px 24px;
    border-radius: 60px;
}

.btn-rounded {
    border-radius: 60px;
}

.login-card .btn-success {
    color: #fff;
    background-color: #0DC1A2;
    border-color: #0DC1A2;
}

.login-ftr {
    padding: 10px 0;
    margin-top: 50px;
    background: #8396AF;
    color: #fff;
}

    .login-ftr ul li a {
        color: #fff;
    }

    .login-ftr ul {
        color: #fff;
    }

.shadow-login {
    box-shadow: 0 0.125rem 0.25rem 0 rgba(13, 115, 193, 0.08) !important;
}



form-control {
    font-size: 0.85rem;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(184, 187, 204);
    border-image: initial;
    border-radius: 0.2rem;
}

/* --- Custom Scroll Bar  --- */
::-webkit-scrollbar-track
{
  -webkit-box-shadow:   0 0 3px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
  border-radius: 6px;
}

::-webkit-scrollbar {
    width: 3px;
    height: 2px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #3e4954;
    border: 0px solid #85a1bd;
    border-radius: 0px;
}